{% extends "base.html" %}
{% block content %}
    <div class="row">
        {% for band in bands %}
            <div class="col-sm-2">
                <div class="card p-2">
                    {% if band.poster %}
                        <img class="card-img-top rounded-circle" src="{{ band.poster.url }}" alt="{{ band.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ band.title }}</h4>
                        <p class="card-text"><strong>Genres:</strong>
                            {% for genre in band.genres.all %}
                                <a href="https://cs.wikipedia.org/wiki/{{ genre.name }}" class="btn btn-light" target="_blank">{{ genre.name }}</a>
                            {% endfor %}
                        </p>
                        <a href="{{ band.get_absolute_url }}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}