<!doctype html>
<html lang="cs">
  <head>
    <title>Genres</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      {% include 'page/header.html' %}
      {% include 'page/navbar.html' %}
      <main>
        <div class="row pl-5 change">
            {% for genre in genres %}
                <div class="col-sm-2 p-2">
                    <div class="card">
                        <h2 class="text-center" style="text-transform:capitalize;font-size: 40px">{{ genre.name }}</h2>
                        <div class="card-body">
                            <p class="card-text">{{ genre.article|truncatewords:30 }}</p>
                            <div class="row justify-content-center">
                                <p class="card-text pr-2"><a href="https://cs.wikipedia.org/wiki/{{ genre.name }}" class="btn btn-primary">More information</a></p>
                                <p class="btn btn-secondary pl-2 toggle_bands">Bands with this genre</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <p class="bands">{% for band in bands %}
                        {{ band.title }}
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
        </div>
      </main>
      <footer>
        {% include 'page/footer.html' %}
        {% load static %}
        <script src="{{ STATIC_URL}}/static/js/script.js"></script>
      </footer>
  </body>
</html>